---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: [pre-commit, pre-push, commit-msg]
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: file-contents-sorter
        files: spelling_private_dict\.txt$
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
      - id: rst-backticks
  - repo: https://github.com/mrtazz/checkmake.git
    rev: 0.2.2
    hooks:
      - id: checkmake
        args: ["--config", ".checkmake-config.ini"]
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: uv run --extra=dev actionlint
        language: python
        pass_filenames: false
        types_or: [yaml]
        additional_dependencies: ["uv"]

      - id: docformatter --in-place
        name: docformatter --in-place
        entry: uv run --extra=dev -m docformatter --in-place
        language: python
        types_or: [python]
        additional_dependencies: ["uv"]

      - id: shellcheck
        name: shellcheck
        entry: uv run --extra=dev shellcheck --shell=bash --exclude=SC1017
        language: python
        types_or: [shell]
        additional_dependencies: ["uv"]

      - id: shellcheck-docs
        name: shellcheck-docs
        entry: uv run --extra=dev doccmd --language=shell --language=console --command="shellcheck --shell=bash --exclude=SC1017"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: ["uv"]

      - id: shfmt
        name: shfmt
        entry: shfmt --write --space-redirects --indent=4
        language: python
        types_or: [shell]
        additional_dependencies: ["uv"]

      - id: shfmt-docs
        name: shfmt-docs
        entry: uv run --extra=dev doccmd --language=shell --language=console --skip-marker=shfmt --no-pad-file --command="shfmt --write --space-redirects --indent=4"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: ["uv"]

      - id: mypy
        name: mypy
        stages: [pre-push]
        entry: uv run --extra=dev -m mypy .
        language: python
        types_or: [python, toml]
        pass_filenames: false
        additional_dependencies: ["uv"]

      - id: mypy-docs
        name: mypy-docs
        stages: [pre-push]
        entry: uv run --extra=dev doccmd --language=python --command="mypy"
        language: python
        types_or: [markdown, rst, python, toml]

      - id: check-manifest
        name: check-manifest
        stages: [pre-push]
        entry: uv run --extra=dev -m check_manifest .
        language: python
        pass_filenames: false
        additional_dependencies: ["uv"]

      - id: pyright
        name: pyright
        stages: [pre-push]
        entry: uv run --extra=dev -m pyright .
        language: python
        types_or: [python, toml]
        pass_filenames: false
        additional_dependencies: ["uv"]

      - id: pyright-docs
        name: pyright-docs
        stages: [pre-push]
        entry: uv run --extra=dev doccmd --language=python --command="pyright"
        language: python
        types_or: [markdown, rst, python, toml]

      - id: vulture
        name: vulture
        entry: uv run --extra=dev -m vulture .
        language: python
        types_or: [python]
        pass_filenames: false
        additional_dependencies: ["uv"]

      - id: vulture-docs
        name: vulture docs
        entry: uv run --extra=dev doccmd --language=python --command="vulture"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: ["uv"]

      - id: pyroma
        name: pyroma
        entry: uv run --extra=dev -m pyroma --min 10 .
        language: python
        pass_filenames: false
        types_or: [toml]
        additional_dependencies: ["uv"]

      - id: deptry
        name: deptry
        entry: uv run --extra=dev -m deptry src/
        language: python
        pass_filenames: false
        additional_dependencies: ["uv"]

      - id: pylint
        name: pylint
        entry: uv run --extra=dev -m pylint src/ tests/
        language: python
        stages: [manual]
        pass_filenames: false
        additional_dependencies: ["uv"]

      - id: ruff-check-fix
        name: Ruff check fix
        entry: uv run --extra=dev -m ruff check --fix
        language: python
        types_or: [python]
        additional_dependencies: ["uv"]

      - id: ruff-check-fix-docs
        name: Ruff check fix docs
        entry: uv run --extra=dev doccmd --language=python --command="ruff check --fix"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: ["uv"]

      - id: ruff-format-fix
        name: Ruff format
        entry: uv run --extra=dev -m ruff format
        language: python
        types_or: [python]
        additional_dependencies: ["uv"]

      - id: ruff-format-fix-docs
        name: Ruff format docs
        entry: uv run --extra=dev doccmd --language=python --no-pad-file --command="ruff format"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: ["uv"]

      - id: doc8
        name: doc8
        entry: uv run --extra=dev -m doc8
        language: python
        types_or: [rst]
        additional_dependencies: ["uv"]

      - id: interrogate
        name: interrogate
        entry: uv run --extra=dev -m interrogate
        language: python
        types_or: [python]
        additional_dependencies: ["uv"]

      - id: interrogate-docs
        name: interrogate docs
        entry: uv run --extra=dev doccmd --language=python --command="interrogate"
        language: python
        types_or: [markdown, rst]
        additional_dependencies: ["uv"]

      - id: pyproject-fmt-fix
        name: pyproject-fmt
        entry: uv run --extra=dev pyproject-fmt
        language: python
        types_or: [toml]
        files: pyproject.toml
# We use system Python, with required dependencies specified in pyproject.toml.
# We therefore cannot use those dependencies in pre-commit CI.
ci:
  skip:
    - actionlint
    - check-manifest
    - deptry
    - doc8
    - interrogate
    - interrogate-docs
    - mypy
    - mypy-docs
    - pylint
    - pyproject-fmt-fix
    - pyright
    - pyright-docs
    - pyroma
    - ruff-check-fix
    - ruff-check-fix-docs
    - ruff-format-fix
    - ruff-format-fix-docs
    - docformatter
    - shellcheck
    - shellcheck-docs
    - shfmt
    - shfmt-docs
    - vulture
    - vulture-docs
