autoflake==1.3.1
check-manifest==0.40
doc8==0.8.0
flake8-commas==2.0.0
flake8-quotes==2.1.1
flake8==3.7.9
isort==4.3.21
mypy==0.761
pip-check-reqs-pip-gte-20==2.0.3.1
pydocstyle==5.0.2
pyenchant==2.0.0
pygithub==1.46
pylint==2.4.4
pyroma==2.6
pytest-cov==2.8.1  # Measure code coverage
pytest==5.3.5
twine==3.1.1
vulture==1.3
yapf==0.29.0
