autoflake==1.4
black==21.4b0
check-manifest==0.46
doc8==0.8.1
flake8-commas==2.0.0
flake8-quotes==3.2.0
flake8==3.9.1
isort==5.8.0
mypy==0.812
pip_check_reqs==2.2.0
pydocstyle==6.0.0
pyenchant==3.2.0
pygithub==1.54.1
pylint==2.7.4
pyroma==3.1
pytest-cov==2.11.1  # Measure code coverage
pytest==6.2.3
twine==3.4.1
vulture==2.3
