autoflake==1.4
black==22.1.0
check-manifest==0.47
doc8==0.10.1
flake8-commas==2.1.0
flake8-quotes==3.3.1
flake8==4.0.1
isort==5.10.1
mypy==0.931
pip_check_reqs==2.3.2
pydocstyle==6.1.1
pyenchant==3.2.2
pylint==2.12.2
pyroma==3.2
pytest-cov==3.0.0  # Measure code coverage
pytest==7.0.1
types-docutils==0.17.5
vulture==2.3
