---

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run at 1:00 every day
    - cron:  '0 1 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        uv-resolution: ["highest", "lowest"]

    steps:
      - uses: actions/checkout@v4
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      # We do not use the cache action as uv is faster than the cache action.
      - name: "Install dependencies"
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv pip install --system --upgrade --editable .[dev]
          uv pip compile --resolution=${{ matrix.uv-resolution }} --no-deps pyproject.toml > resolved-requirements.txt
          uv pip install --system --requirements resolved-requirements.txt

      - name: "Lint"
        run: |
          make lint

      - name: "Build sample"
        run: |
          make build-sample

      - name: "Build sample parallel"
        run: |
          make build-sample-parallel

      - name: "Run tests"
        run: |
          pytest -s -vvv --cov-fail-under 100 --cov=src/ --cov=tests tests/ --cov-report=xml

      - name: "Upload coverage to Codecov"
        uses: "codecov/codecov-action@v4"
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
